.NavigationLinksContainer{
    list-style: none;
    display: flex;
    position: absolute;
    left: 80%;
    padding: 0px;
    
}

.NavigationLinksItems  a{
    text-decoration: none;
    color: black;
}

.NavigationLinksItems p{
    padding: 5px 5px 0px;
    margin: 0px;
}

.star{
    display: flex;
    justify-content: center;
}