
#body{
    margin: 0px 0px 0px;
}

.contactMenuContainer{
    list-style: none;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
    position: fixed;
    bottom: 230px
}

.contactMenuItem{
    margin: 15px 0px 0px;
}
