*::-webkit-scrollbar{
    margin: 0px 0px 0px;
    display: none;
    
    

}

.main{
    margin: 50px 80px 0px;
    
   height: 900px;
}

.Stars{
    position: fixed;
}

.contentContainer{
    position: relative;
    height: 500px;
    width: 1000px;
    margin: auto;
}

.aboutContainer{
    position: relative;
    width: 1000px;
    margin: auto;
    top: 500px;

}

.firstName{
    margin: 0;
    position: relative;
    top: 55%;
    text-align: center;
    font-size: 70px;
}

.welcome{
    margin: 0;
    position: relative;
    top: 55%;
    left: 75px;
    /* text-align: left; */
    font-size: 20px;
}

.aboutText{
    position: relative;
    
}

.NavigationLinks {
    position: sticky;
    top: 0;
}